body {
    background-color: rgb(54, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;

}

div {
    box-sizing: border-box;
}
.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
main {
    background-color: rgba(206, 206, 206, 0.11);
    width: 50%;
    max-width: 959px;
    min-height: 95vh;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    border-radius: 20px;
    box-shadow: 0 0 10px 7px rgba(161, 161, 161, 0.055);
    
}
.img-container {
    background-color: transparent;
    width: 90%;
    height: 21em;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.navigator {
    display: flex;
    justify-content: center;
    gap: 1em;
}
.hide {
    display: none;
}
marquee {
    font-size: 1.5em;
    width: 70%;
    margin: unset auto unset auto;
}
.navigator button {
    
    border: none;
    border-radius: 50%;
    width: 5em;
    cursor: pointer;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 2px rgb(161, 161, 161);
    
}
.navigator button:hover {
    background-color: aqua;
    transition-duration: 2s;
}
svg {
    width: 50%;
}